<ion-header>
  <ion-toolbar>
    <ion-title> Creer la liste</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<h5>Nom de la liste</h5>
<ion-content>
  <ion-card>
    <ion-input placeholder="Saisir le nom" (input)="nomListe=$event.target.value" type="text" class="form-control">
    </ion-input>
  </ion-card>
</ion-content>
<ion-button expand="block" (click)="onSubmit()">
  Creer la liste
</ion-button>